@model GS_Enave_Test.Models.ListaMxG

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3>Edición de materia por grado</h3>
        <a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" asp-action="Index">Regresar a la lista</a>
    </div>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form asp-action="Edit">
                    <div class="row">
                        <input type="hidden" asp-for="Materiasxgrado.mxg_id" />
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Materiasxgrado.mxg_id_grd" class="control-label"></label>
                                <select asp-for="Materiasxgrado.mxg_id_grd" class="form-control" asp-items="@Model.ListaDeGrados"></select>
                                <span asp-validation-for="Materiasxgrado.mxg_id_grd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="Materiasxgrado.mxg_id_mat" class="control-label"></label>
                                <select asp-for="Materiasxgrado.mxg_id_mat" class="form-control" asp-items="@Model.ListaDeMaterias"></select>
                                <span asp-validation-for="Materiasxgrado.mxg_id_mat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}